#t{
width:50%;
height:50px;
font-size:400%;
}
#ans{
font-size:100%;
}
h1{
text-align:center;
}
h3{
font-size:30px;
}
#s{
width:30%;
height:30px;
font-size:200%;
}
#u{
width:30%;
height:30px;
font-size:200%;
}
#ans1{
font-size:100%;
}